<% content_for :header do %>


<div class= "background_image-item-selection">


<%= image_tag "Thanks.jpg", class: 'fit-image' %>
<div class= "centered-purchase" > <%= link_to "Continue Shopping", root_path, class:"navbar-item button is-warning"%></div>

</div>

<%end%>

